/** body: **/

body {
  background-color: #484848;
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Arial", "Helvetica";
  font-size: 1em;
  color: #000000;
}

/** content container: **/

.container {
  min-height: 100vh;
  width: calc(100% - 0.5em);
  max-width: 1870px;
  margin: auto;
}

/** header: **/

.header {
  background-color: #ffffff;
  height: 90px;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.header_logo_img {
  max-height: 90px;
}

.header_text {
  color: #0e1c3f;
  font-size: 1.6em;
  margin-left: 0.5em;
  margin-top: 1.8em;
}

@media only screen and (min-width: 650px) {
  #header_logo_img_small {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  #header_logo_img {
    display: none;
  }
  .header_text {
    margin-top: 1.0em;
  }
}

/** navigation: **/

.navigation {
  color: #ffffff;
  background-color: #0e1c3f;
  min-height: 1em;
}

/** content: **/

.text_section,
.plot_section {
  margin: 0;
  padding: 0;
}

.text_container {
  background-color: #ffffff;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.5em;
}

.text_container h2, label {
  color: #0e1c3f;
}

.plot_container {
  background-color: #ffffff;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.heatmap_plot {
  display: flex;
  flex: 1 1 auto;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

.ts_plot {
  display: flex;
  flex: 1 1 auto;
  max-height: 300px;
}

.js-plotly-plot .plotly .modebar {
  margin-top: 0.5em;
  left: 0.5em;
  min-width: 12em;
}

/** footer: **/

.footer {
  background-color: #272727;
  min-height: 2em;
}
