/** body: **/

body {
  background-color: #484848;
  margin: 0;
  padding: 0;
}

/** content: **/

.plot_section {
  margin: 0;
  padding: 0;
}

.plot_container {
  background-color: #ffffff;
  width: calc(100% - 0.5em);
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
}

.heatmap_plot {
  display: flex;
  flex: 1 1 auto;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
}

.ts_plot {
  display: flex;
  flex: 1 1 auto;
  max-height: 300px;
}

.js-plotly-plot .plotly .modebar {
  margin-top: 0.5em;
  left: 0.5em;
  min-width: 12em;
}
